.modal-header
    h3(data-i18n="forgotpassword")
.modal-body
    p(data-i18n="enterpassword")
    form.form-horizontal(ng-submit="login()", name="retrievePasword", role="form", novalidate)
        .form-group.has-feedback.input-group(ng-class="{ 'has-error' : retrievePasword.email.$invalid && !retrievePasword.email.$pristine, 'has-success': !retrievePasword.email.$invalid && !retrievePasword.email.$pristine && email != ''}")
            span.input-group-addon
                i.fa.fa-envelope.fa-fw
            input.form-control(type="email", required, data-ng-model="user.retrievePassword.email", placeholder="email" data-i18n="i18n-placeholder", name="email", autofocus, id="retrievePassword_email")
            span.input-group-addon(ng-if="retrievePasword.email.$invalid && !retrievePasword.email.$pristine")
                span
                    i.fa.fa-times.fa-fw
            span.input-group-addon(ng-if="!retrievePasword.email.$invalid && !retrievePasword.email.$pristine")
                span
                    i.fa.fa-check.fa-fw
.modal-footer
    button.btn.btn-primary(ng-click="$close()", ng-disabled="retrievePasword.$invalid", data-i18n="ok")
    button.btn.btn-link(ng-click="$dismiss()", data-i18-n="cancel")